- block_ids = ['a', 'b', 'c']
- homework_ids = ['2p', '3p', '4', '5']
!!! 5
%html
	%head
		%meta(charset='utf-8')
		%meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		%title='Numerical Analysis Homework'
		%link(rel='stylesheet' href='res/libraries/jquery.mobile.min.css')
		%script(src='res/libraries/jquery.min.js')
		%script(src='res/libraries/jquery.mobile.min.js')
		%script(src='res/libraries/jquery.lazyload.min.js')
		:javascript
			$.mobile.ajaxEnabled = false;
			$(function () {
				$('img').lazyload();
			});
		:css
			.ui-block {
				padding: 0.5em;
			}
			.ui-block .ui-btn {
				margin-left: 0;
				margin-right: 0;
			}
			.ui-block .ui-body {
				padding: 0;
				overflow: hidden;
			}
			.ui-block .ui-body img {
				width: 100%;
				display: block;
			}
	%body
		%div(data-role='page')
			%div(data-role='header')
				%h1='Numerical Analysis Homework'
			%div(data-role='content')
				.ui-grid-b.ui-responsive
					- homework_ids.each_with_index  do |homework_id, index|
						.ui-block(class='ui-block-#{block_ids[index % block_ids.length]}')
							%a.ui-btn.ui-corner-all(href='pages/hw#{homework_id}.html')='Homework' + homework_id
							.ui-body.ui-body-a.ui-corner-all
								%img(data-original='res/demos/hw#{homework_id}.gif')
